.newDiv{
    margin: 5px;
    height: 200px;
    background-color: grey;
    text-align: center;
    font-size: larger;
}
/*this is a new comment*/

/* this is the second comment*/

/* this is the first version*/

/* this is the second version*/